USE [master]
GO
/****** Object:  Database [NewApplication]    Script Date: 13.11.2023 1:23:44 ******/
CREATE DATABASE [NewApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewApplication', FILENAME = N'C:\Users\Денис\NewApplication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewApplication_log', FILENAME = N'C:\Users\Денис\NewApplication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewApplication]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.11.2023 1:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (1, N'Денис', N'2208')
INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (2, N'Вадим', N'1605')
INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (3, N'Саша', N'1510')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
